* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("https://miro.medium.com/v2/resize:fit:1200/1*0u2ynz-XDDaq3suwHtC7eQ.jpeg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    margin-bottom: 100px;
}

.main .box {
    height: 600px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    width: 75vw;
    justify-content: space-between;
    margin: 0 150px;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    z-index: 10;
}

.buttons{
    display: flex;
    z-index: 10;
}

.language {
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid gray;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.language option{
    color: #000;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 20px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.red {
    background-color: red;
    color: beige;
    padding: 8px 20px;
    font-size: 15px;
    border: 1px solid red;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 10px;
}

.btn:hover {
    background-color: rgb(212, 2, 2);
}

.hero-buttons {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-buttons input {
    padding: 15px 150px 12px 15px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.started {
    background-color: red;
    color: beige;
    padding: 8px 30px;
    font-size: 24px;
    border: 1px solid red;
    border-radius: 6px;
    font-weight: bold;
    margin-left: 10px;
}

.trending-section {
    padding: 0px 50px;
    height: 90vh;
    width: 100vw;
}

.shape {
    margin-top: -100px;
    position: absolute;
    width: 102%;
    left: 0%;
    align-items: center;
    border: solid .25rem transparent;
    border-top-left-radius: 170% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), red;
}

.trending-section h2 {
    color: white;
    font-size: 25px;
    margin: 70px 0px 20px 42px;
}

.slider {
    display: grid;
    padding: 10px 0 0 20px;
    grid-auto-flow: column;
    grid-auto-columns: 20rem;
    justify-content: start;
    animation: animation 12s linear infinite;
    position: relative;
}


.slide span{
    position: relative;
    font-size: 85px;
    color: #fff;
    bottom: 4%;
    right: 78%;
    font-weight: bold;
}
.slider img {
    border: none;
    border-radius: 10px;
    height: 85%;
    width: 70%;
}


@keyframes animation {
    to {
        translate: calc(-5 * 24rem);
    }
}

.section3 {
    padding: 0px 100px 50px 100px;
}

.section3 h2 {
    margin: 0px 0 20px 0;
    color: #fff;
}

.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

}

.card {
    width: 174px;
    padding: 35px;
    border-radius: 20px;
    background: linear-gradient(180deg, #1e2142 0%, #0f0d16 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 280px;
    position: relative;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #cfcfcf;
}

.card span {
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    bottom: 50px;
    left: 144px;
    font-size: 70px;
}

.section4 {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    color: white;
    padding: 20px;
    padding: 0px 120px;
}

.section4 h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.faq-box {
    background: #2d2d2d;
    padding: 20px 30px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid #000;
}

.faq-box p {
    font-size: 26px;
    margin: 0;
}

.plus {
    font-size: 40px;
}

.footer {
    background: #000;
    padding: 50px 12%;
    color: #757575;
    font-family: Arial, sans-serif;
}

.footer p {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: #fff;

}

.foot-buttons input {
    padding: 15px 320px 12px 15px;
    margin: 0 0 40px 100px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.footer a {
    color: #b7b5b5;
}


.footer-top p {
    font-size: 18px;
}

.footer-links {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 18px;
}

.footer-btn select {
    background: transparent;
    border: 1px solid #b7b5b5;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-btn section option {
    color: #000;
    background-color: #000;
}

.footer-country {
    color: #b7b5b5;
    font-size: 14px;
}